.my-calculator {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: aqua;
    padding: 40px;
    border: 1px solid black;

}

.my-calculator .operationsBlock button {
    width: 40px;
    height: 40px;
    margin: 20px;
}
.my-calculator .inputsBlock .inputBlock{
    display: inline-block;
    padding: 10px;
}
.my-calculator .inputsBlock .inputBlock label {
    display: block;
}